includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined static method \w+#'
        - '#Parameter \#1 \$json of function json_decode expects string, string\|false given.#'
    reportUnmatchedIgnoredErrors: false
