.auth-page__container {
	height: 100vh;
	overflow: hidden;

	background-image: var(--background-image);
	background-size: cover;
}

.auth-page__wrapper {
	display: grid;
	place-items: center;
	position: relative;

	height: 100%;
	width: 100%;
	backdrop-filter: blur(7.5px);

	padding-inline: space(8);

	@media screen and (max-width: 630px) {
		padding-inline: 0;
	}
}

.auth-page__home-link {
	display: flex;
	align-items: center;
	gap: space(1);
	color: var(--secondary);

	position: absolute;
	top: space(3);
	left: space(3);
}

.auth-page__home-link svg {
	height: 30px;
	width: 30px;
}

.auth-page__link {
	width: max-content;
}

.auth-page__form-wrapper {
	background-color: var(--primary);
	color: var(--secondary);

	width: 500px;

	position: relative;
	display: grid;
	gap: space(3);

	padding: space(4);

	& form {
		display: flex;
		flex-direction: column;
		gap: space(2);
	}

	@media screen and (max-width: 630px) {
		width: auto;
		max-width: 500px;
	}
}

.auth-page__form-group {
	display: flex;
	flex-direction: column;
	gap: space(1);
	position: relative;

	& input {
		color: var(--secondary);
		background-color: var(--primary-hover);
		height: 40px;
		border-radius: 4px;
		border: var(--border-secondary) solid 1px;
		font-family: inherit;
		padding-left: space(2);
	}

	& label {
		position: relative;
		display: flex;
		align-items: center;
		gap: space(1);
	}
}

.auth-page__form-group[data-is-invalid=true] input {
	border: var(--border-danger) solid 2px;
}

.auth-page__form-group p,
.auth-page__error-icon {
	color: var(--danger);
}

.auth-page__form-group svg:not(.auth-page__error-icon) {
	color: var(--secondary);
}

.auth-page__form-group svg:not(.notice__icon) {
	position: absolute;
	height: 24px;
	width: 24px;
	right: 10px;
	top: 34px;
}

.auth-page__show-password {
	cursor: pointer;
}

.auth-page__show-password ~ .auth-page__error-icon {
	right: 44px !important;
}

.auth-page__input-notice {
	font-size: 15px;
	font-weight: normal;
}

.auth-page__submit-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: space(1);

	margin-top: space(2);

	& button {
		color: var(--secondary);
		padding-block: space(1) !important;
	}

	& button:hover, button:disabled, button:disabled:hover {
		background-color: var(--primary-hover) !important;
	}
}

.auth-page__loading-group {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	& .spinner__dots-container, .spinner__dots-container spinning-dots {
		z-index: 100;
		margin: 0;
		height: 48px;
		width: 48px !important;
	}
}

.auth-page__loading-group-blur {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;

	backdrop-filter: blur(1px);
}

.auth-page__locked-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	cursor: auto;
}
.auth-page__lock {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(2px);
	cursor: not-allowed;
}

@media screen and (max-width: 450px) {
	.auth-page__form-wrapper {
		width: 100%;
		padding-inline: space(1);
	}

	.auth-page__link {
		width: auto;
		word-break: break-word;
	}
}
