.day {
    background: url("../../../public/images/scenejour_wolfy.svg") no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -100px;

}
.night {
    background: url("../../../public/images/scenenuit_wolfy.svg") no-repeat;
    background-size: cover;
    background-position-y: -100px;
    color: #fff;
}

.game-page__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-page__header {
    display: flex;
    margin-top: space(3);
    margin-left: space(4);
}
.game-page__home-link {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: space(1);

    & p {
        margin-left: space(1);
    }
}
.game-page__main {
    display: flex;
    height: 100%;
}
