.day {
  background-image: url("/images/monody_day.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  --chat-background: var(--light-background);
  --chat-send-background: var(--light-background);
  --chat-send-text: rgba(0, 0, 0, 20%);
  --unchanged-color: 0, 0, 0;
}

.night {
  background-image: url("/images/monody_night.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & * {
    color: #fff;
  }

  --chat-background: var(--dark-background);
  --chat-send-background: var(--dark-background-lighter);
  --chat-send-text: rgba(255, 255, 255, 30%);
  --unchanged-color: 255, 255, 255;
}

.game-page__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-page__header {
  display: flex;
  margin-top: space(3);
  margin-left: space(4);
}

.game-page__home-link {
  width: 45%;
  color: rgba(255, 255, 255, 50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: space(1);
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  & svg path {
    fill: rgba(255, 255, 255, 50%);
    transition: fill 0.3s;
  }

  &:hover svg path {
    fill: #fff;
  }

  & p {
    margin-left: space(1);
  }
}

.game-page__main {
  display: flex;
  height: 100%;
  max-height: 90vh;
}
