.home-page {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.home-page__title {
  font-size: 160px;
  font-weight: 400;
}

.home-page__logo {
  height: 100px;
  width: 90px;
  transform: translateY(10px);
}

.home-page__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 48px;

  &:hover {
    transition: color .6s;
    color: #c7ceff;
  }

  &:hover .home-page__logo path {
    transition: fill .6s;
    fill: #c7ceff;
  }

  &:hover .home-page__play-text::before,
  &:hover .home-page__play-text::after {
    transition: border-top .6s;
    border-top: 4px solid #c7ceff;
  }
}

.home-page__play-text {
  &::before,
  &::after {
    display: inline-block;
    content: "";
    border-top: 4px solid #fff;
    width: 225px;
    margin: 0 space(3);
    transform: translateY(-.75rem);
  }
}

.home-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: space(2) space(4);

  & a {
    color: rgba(255, 255, 255, 80%);
  }
}

.home-page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  margin-bottom: space(2);

  & p {
    color: rgba(255, 255, 255, 80%);
  }
}
