.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-page__form {
    display: flex;
    flex-direction: column;
}

.login-page__input {
    font-family: 'Sen', sans-serif;
    display: inline-block;
    background: var(--dark-background);
    color: #fff;
    border: none;
    padding: 0 0 space(1) space(1);
    margin: space(1);

    &:focus {
        outline: none;
        &::placeholder {
            opacity: 1;
            color: #fff;
        }
    }
}

.login-page__input ::after {
    content: 'AZERAZER';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}

.login-page__input:focus::after {
    width: 100px;
}
