.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page__no-account-link {
  color: #fff;
  text-decoration: underline;
}

.login-page__form {
  margin-top: space(2);
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.login-page__error {
  color: var(--danger);
  margin-bottom: space(1);
}

.login-page__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 32px;

  margin-top: space(1);
  margin-bottom: space(1);

  border: none;
  border-radius: 6px;

  background: #ffffff;
  cursor: pointer;
  transition: transform .4s ease-in-out, background-color .2s;

  &:hover {
    background: darken(#fff, 10%);
    transform: scale(1.02);
  }

  & .loader {
    height: 16px;
    width: 16px;
    margin-right: space(1);

    & spinning-dots {
      width: 16px;
      height: 16px;
    }
  }
}

.login-page__input {
  font-family: 'Sen', sans-serif;
  display: inline-block;
  background: var(--dark-background);
  color: #fff;
  border: none;
  padding: 0 0 space(1) space(1);
  margin-top: space(2);
  margin-bottom: space(2);
  width: 100%;

  &.login-page__input-error {
    outline: none;
    border-bottom: var(--danger) solid 2px;
  }

  &:focus {
    outline: none;
    border-bottom: #fff solid 2px;

    &::placeholder {
      opacity: 1;
      color: #fff;
    }
  }
}

.login-page__input:focus::before {
  width: 100px;
}

.login-page__remember-wrapper {
  display: flex;
  margin-left: space(1);
}

.login-page__remember-me {
  width: 16px;
  display: block;
}