@use "../tools/functions" as *;

.play-page {
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100svh;

	@media screen and (max-width: 600px) {
		height: auto;
	}
}

.play-page__wrapper {
	backdrop-filter: blur(7.5px);
	height: 100%;

	display: flex;
	flex-direction: column;
}

.play-page__container {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;

	height: 100%;

	padding-inline: space(2);
	padding-bottom: space(1);

	@media screen and (max-width: 960px) {
		padding-inline: space(.5);
	}

	@media screen and (max-width: 600px) {
		grid-template-columns: initial;
		grid-template-rows: 1fr 1fr;
		gap: space(3);
	}
}

.play-page__button.btn {
	display: flex;
	align-items: center;
	font-size: 1.125em;
	border: var(--border-secondary) solid 2px;
	gap: space(2);
	color: var(--secondary);

	&:hover {
		background-color: var(--primary-hover);
	}
}

.play-page__header {
	display: grid;
	grid-template-columns: 1fr .75fr;
	place-items: center flex-end;
	padding: space(4) space(4);
	color: var(--secondary);

	@media screen and (max-width: 600px) {
		grid-template-columns: initial;
		place-items: center;
	}

	& button {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: space(1);
		color: var(--secondary);

		background: none;
		border: none;
		padding: 0;

		@media screen and (max-width: 600px) {
			position: absolute;
			right: space(2);
			font-size: 0;
			gap: 0;
		}
	}

	& button:hover {
		text-decoration: underline;
	}

	& button svg {
		height: 35px;
		width: 35px;
	}
}

.play-page__header-title {
	display: flex;
	align-items: center;
	gap: space(2);

	& svg {
		height: 50px;
		width: 45px;
	}
}

.play-page__games {
	background-color: var(--primary);
	width: calc(100% - space(4));
	padding: space(4);
	overflow-y: auto;
	color: var(--secondary);
	border-radius: 6px;

	@media screen and (max-width: 960px) {
		width: 100%;
		max-height: 480px;
		padding: space(2);
	}

	& header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& header p {
		font-size: 1.25em;
	}
}

.play-page__game-list {
	display: flex;
	flex-direction: column-reverse;
}
