@use "../tools/functions" as *;

.play-page {
	background-image: url("../../public/images/monody_day.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.play-page__container {
	display: flex;
	justify-content: space-around;
	height: 100%;
	padding-bottom: space(1);
}

.play-page__button.btn {
	display: flex;
	align-items: center;
	font-size: 18px;
	border: #0f112725 solid 1px;
	gap: space(2);

	& i {
		content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 17.5H5.83337M17.5 29.1666V17.5V29.1666ZM17.5 17.5V5.83331V17.5ZM17.5 17.5H29.1667H17.5Z' stroke='%230f1127' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
	}

	&:hover {
		background-color: var(--light-background-hover);
	}
}

.play-page__header {
	display: grid;
	grid-template-columns: 1fr .75fr;
	place-items: center flex-end;
	padding: space(4) space(4);
	color: var(--dark-background);

	& button {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: space(1);

		background: none;
		border: none;
		padding: 0;
	}

	& button:hover {
		text-decoration: underline;
	}

	& button svg {
		height: 35px;
		width: 35px;
	}
}

.play-page__header-title {
	display: flex;
	align-items: center;
	gap: space(2);

	& svg {
		height: 50px;
		width: 45px;
	}
}

.play-page__games {
	background-color: var(--light-background);
	width: calc(50% - space(12));
	padding: space(4);
	overflow-y: auto;
	color: var(--dark-background);
	border-radius: 6px;

	& header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& header p {
		font-size: 20px;
	}
}

.play-page__game-list {
	display: flex;
	flex-direction: column-reverse;
}
