.play-page {
	background-image: url("/images/scenejour_wolfy.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.play-page__container {
	display: flex;
	justify-content: space-around;
	height: 100%;
	padding-bottom: space(1);
}

.play-page__button {
	background: #171D5B;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: space(1) space(2);
	font-size: 18px;

	& i {
			content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 17.5H5.83337M17.5 29.1666V17.5V29.1666ZM17.5 17.5V5.83331V17.5ZM17.5 17.5H29.1667H17.5Z' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			margin-right: space(2);
	}
}

.play-page__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: space(2) space(4);

	& a {
			color: rgba(255, 255, 255, 80%);
	}

	& .links .icon {
			height: 35px;
			width: 35px;
			margin-left: space(4);
			cursor: pointer;
	}

	& .links button {
			background: none;
			border: none;
	}
}

.play-page__games {
	background-color: var(--dark-background-lighter);
	width: calc(50% - space(12));
	padding: space(4);
	overflow-y: auto;

	& header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 20px;
	}
}

.play-page__game-list {
	display: flex;
	flex-direction: column-reverse;
}

.play-page__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 32px;

	& p {
			color: rgba(255, 255, 255, 80%);
	}
}
