.register-page {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-page__button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 32px;

	margin-top: space(1);
	margin-bottom: space(2);

	border: none;
	border-radius: 6px;

	background: #ffffff;
	cursor: pointer;
	transition: background-color .2s;

	&:hover {
		background: darken(#fff, 20%);
	}

	& .loader {
		height: 16px;
		width: 16px;
		margin-right: space(1);
	}
}

.register-page__form {
  margin-top: space(2);
  display: flex;
  flex-direction: column;
	min-width: 300px;
	overflow: hidden;

	& div:not(.register-page__form:last-child) {
		margin-bottom: space(3);
	}
}

.register-page__input {
	font-family: inherit;
	background: var(--dark-background);
	color: #fff;
	border: none;
	border-bottom: rgba(255, 255, 255, 25%) 2px solid;
	padding: space(1);
	margin-top: space(1);
	width: 100%;
	overflow: hidden;

	&.login-page__input-error {
		outline: none;
		border-bottom: var(--danger) solid 2px;
	}

	&:focus + .login-page__input-focused {
		transform: translateX(0);
	}

	&:focus {
		outline: none;

		&::placeholder {
			opacity: 1;
			color: #fff;
		}
	}
}
