.alert__container {
	display: flex;
	align-items: center;
	gap: space(2);

	background: var(--light-background);
	color: var(--dark-background);

	height: 48px;

	padding: space(2);
}

.alert__icon {
	height: 32px;
	width: 32px;
}

.alert__content {
	min-width: 125px;
}

.alert__close {
	height: 16px;
	width: 16px;
	transition: all .2s;
	cursor: pointer;

	& use {
		color: #0f112740;
	}

	&:hover use {
		color: var(--dark-background);
	}
}

.alert__out {
	animation: alertOut .5s both;
}

@keyframes alertOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(30px);
	}
}
