$alerts: 'success' var(--success), 'info' var(--info), 'warn' var(--warn), 'error' var(--danger);

.alert__container {
	position: relative;
	display: flex;
	align-items: center;
	gap: space(2);

	background: var(--light-background);
	color: var(--dark-background);

	height: 48px;

	padding: space(2);
}

.alert__icon {
	height: 32px;
	width: 32px;
}

.alert__content {
	min-width: 125px;
}

.alert__close {
	height: 16px;
	width: 16px;
	cursor: pointer;

	& use {
		transition: color .2s;
		color: #0f112740;
	}

	&:hover use {
		color: #0f112780;
	}
}

@each $alert in $alerts {
	.alert__progress-#{nth($alert, 1)} {
		background-color: nth($alert, 2);
	}

	.alert__container[data-alert-type=#{nth($alert, 1)}] .alert__icon {
		color: nth($alert, 2);
	}
}

.alert__progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 4px;

	animation: alertProgress 4.75s linear both;
}

@keyframes alertProgress {
	to {
		left: 100%;
	}
}

.alert__out {
	animation: alertOut .5s both;
}

@keyframes alertOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(30px);
	}
}
