.player-interaction-bubble__container {
  z-index: 10;
  position: relative;
  width: min-content;
  background-color: var(--light-background);
  padding-top: space(0.25);
  padding-bottom: space(0.25);
  padding-right: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: space(2);
  animation: floating infinite 2s ease-in-out;

  &::after {
    height: 12px;
    width: 12px;
    content: "";
    position: absolute;
    bottom: -11px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0.200822L5.78486 9.16776L0.588703 0.167764L11 0.200822Z' fill='%23FFFCF1' /%3E%3C/svg%3E");
  }
}

.player-interaction-bubble__content {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  margin-right: space(0.5);

  &:first-child {
    margin-left: space(0.5);
  }
}

.player-interaction-bubble__werewolf-color {
	background-color: var(--werewolf-color);
}

.player-interaction-bubble__psychic-color {
	background-color: var(--villager-color);
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
