.player-interaction-bubble__container {
  z-index: 10;
  width: min-content;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	animation: floating infinite 2s ease-in-out;

	& > * {
		animation: floating infinite 2s ease-in-out;
	}

	& > span {
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: var(--light-background);
		color: var(--light-background);

		padding-top: space(0.25);
		padding-bottom: space(0.25);
		padding-right: 0;
		margin-bottom: space(1);

		border-radius: 5px;
	}
}

.player-interaction-bubble__content {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  margin-right: space(0.5);

  &:first-child {
    margin-left: space(0.5);
  }
}

.player-interaction-bubble__arrow {
	position: absolute;
	top: 30px;
	height: 12px;
	width: 12px;
}

.player-interaction-bubble__werewolves-color {
	& > span {
		background: var(--werewolf-color-darker);
	}

	& > svg > use {
		color: var(--werewolf-color-darker);
	}
}

.player-interaction-bubble__psychic-color {
	& > span {
		background: var(--villager-color);
	}

	& > svg > use {
		color: var(--villager-color);
	}
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
