.cache
!avatars
!.gitignore
!profiles
!profiles/template*
!roles
!roles/default.png
!roles/simple_villager.png
!roles/psychic.png
!roles/werewolf.png
!roles/white_werewolf.png
!roles/witch.png
!roles/infected_werewolf.png
!roles/angel.png
