h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

label {
	font-size: 1em;
	font-weight: bold;
}

p {
	font-size: 1em;
}

a {
	color: #0066ff;
	position: relative;

	.link__external {
		position: absolute;
		height: 12px;
		width: 12px;
		top: calc((1rem - 12px) / 2);
		margin-left: space(1);
	}

	&:hover {
		text-decoration: underline;
	}
}

.bold {
	font-weight: bold;
}

.muted {
	color: var(--light-background-muted);
}
