h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

label {
	font-size: 1em;
	font-weight: bold;
}

p {
	font-size: 1em;
}

a {
	color: #0066FF;

	&:hover {
		text-decoration: underline;
	}
}

.bold {
	font-weight: bold;
}

.muted {
	color: var(--secondary-muted);
}
