// Tools
@import "tools/reset";
@import "tools/functions";
@import "fonts/fonts";
@import "typo";
@import "utils";

// Pages
@import "./pages/game-page";
@import "./pages/home-page";
@import "./pages/play-page";
@import "./pages/auth-page";

// Components
// - Chat
@import "./components/Chat/message";
@import "./components/Chat/chat";
@import "./components/Chat/time-separator";

// - Modal
@import "./components/Modal/modal";
@import "./components/Modal/role-selector";
@import "./components/Modal/roles-page";
@import "./components/Modal/roles-balance";
@import "./components/Modal/profile-modal";
@import "./components/Modal/game-creation-modal";
@import "./components/Modal/share-page";
@import "./components/Modal/popup";
@import "./components/Modal/game-details";
@import "./components/Modal/share-profile";
@import "./components/Modal/game-vocal-invitation";
@import "./components/Modal/game-type-page";
@import "./components/Modal/leaderboards-modal";
@import "./components/Modal/role-presentation";
@import "./components/Modal/end-modal";

// - Game player list
@import "./components/PlayerList/player";
@import "./components/PlayerList/player-interaction-bubble";
@import "./components/PlayerList/player-list";

// - Player Presentation
@import "./components/PlayerPresentation/player-presentation";
@import "./components/PlayerPresentation/progress-bar";
@import "./components/PlayerPresentation/user-statistics";

// - Alerts
@import "./components/Alerts/alert-list";
@import "./components/Alerts/alert";

// - Others
@import "./components/buttons";
@import "./components/pills";
@import "./components/counter";
@import "./components/game-presentation";
@import "./components/spinner";
@import "./components/footer";
@import "./components/notice-component";
@import "./components/debug-bar";
@import "./components/role-assignation";
@import "./components/badge-presentation";
@import "./components/game-information-bubble";
@import "./components/steps-form";
@import "./components/audio-manager";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Sen", sans-serif;
	font-size: 1rem;
	color: var(--primary);
	min-height: 100svh;
	background-color: var(--dark-background);
	overflow: hidden;

	@media screen and (max-width: 600px) {
		overflow: auto;
	}
}

html {
	--space: 8px;

	--success: #46b800;
	--info: #009ec0;
	--warn: #f6970a;
	--dark-danger: #b40000;
	--light-danger: #fc0000;
	--danger: var(--dark-danger);
	--level: #0d58ca;
	--pink: #fb7592;

	--light-background: #fffcf1;
	--light-background-hover: #f6f3e6;
	--light-background-muted: #fffcf180;

	--primary: var(--light-background);
	--primary-hover: var(--light-background-hover);
	--primary-muted: var(--light-background-muted);

	--dark-background: #0f1127;
	--dark-background-hover: #151840;
	--dark-background-muted: #0f112780;

	--secondary: var(--dark-background);
	--secondary-hover: var(--dark-background-hover);
	--secondary-muted: var(--dark-background-muted);

	--accent-light: #fff5cf;
	--accent-dark: #142868;

	--accent-primary: var(--accent-light);
	--accent-secondary: var(--accent-dark);

	--border-dark: #0f112725;
	--border-light: #fffcf125;
	--border-danger: #b4000050;

	--border-primary: var(--border-light);
	--border-secondary: var(--border-dark);

	--villager-color: #4c93d6;
	--werewolf-color: #a51818;
	--werewolf-color-darker: #811313;

	--twitter-color: #1d9bf0;
	--discord-color: #5865f2;
	--share-color: #505860;

	--primary-disabled: #fffcf150;
	--secondary-disabled: #0f112750;

	--background-image: url("../../public/images/monody_day.webp");
	--alt-background: var(--primary);
}

html.dark {
	--danger: var(--light-danger);

	--primary: var(--dark-background);
	--primary-hover: var(--dark-background-hover);
	--primary-muted: var(--dark-background-muted);

	--secondary: var(--light-background);
	--secondary-hover: var(--light-background-hover);
	--secondary-muted: var(--light-background-muted);

	--accent-primary: var(--accent-dark);
	--accent-secondary: var(--accent-light);

	--border-primary: var(--border-dark);
	--border-secondary: var(--border-light);
	--border-danger: #fc000050;

	--background-image: url("../../public/images/monody_night.webp");
	--alt-background: var(--primary-hover);

	--primary-disabled: #0f112750;
	--secondary-disabled: #fffcf150;
}
