// Tools
@import "tools/reset";
@import "tools/functions";
@import "fonts/fonts";
@import "typo";

// Pages
@import "./pages/game-page";
@import "./pages/home-page";
@import "./pages/play-page";
@import "./pages/auth-page";

// Components
// - Chat
@import "./components/Chat/message";
@import "./components/Chat/chat";
@import "./components/Chat/time-separator";

// - Modal
@import "./components/Modal/modal";
@import "./components/Modal/role-selector";
@import "./components/Modal/roles-page";
@import "./components/Modal/role-show";
@import "./components/Modal/game-state";
@import "./components/Modal/roles-balance";
@import "./components/Modal/profile-modal";
@import "./components/Modal/game-creation-modal";
@import "./components/Modal/share-page";
@import "./components/Modal/popup";

// - Game player list
@import "./components/PlayerList/player";
@import "./components/PlayerList/player-interaction-bubble";
@import "./components/PlayerList/player-list";

// - Player Presentation
@import "./components/PlayerPresentation/player-presentation";
@import "./components/PlayerPresentation/progress-bar";

// - Alerts
@import "./components/Alerts/alert-list";
@import "./components/Alerts/alert";

// - Others
@import "./components/buttons";
@import "./components/pills";
@import "./components/counter";
@import "./components/game-presentation";
@import "./components/spinner";
@import "./components/footer";
@import "./components/notice-component";
@import "./components/debug-bar";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Sen", sans-serif;
	font-size: 1rem;
	color: #fff;
	min-height: 100vh;
	background-color: var(--dark-background);
	overflow: hidden;
}

:root {
	--space: 8px;

	--success: #46B800;
	--info: #009ec0;
	--warn: #F6970A;
	--danger: #b40000;

	--dark-background: #0f1127;
	--dark-background-lighter: #111433;
	--light-dark-background: #24295E;
	--light-dark-background-hover: #1D214C;
	--light-background: #fffcf1;
	--light-background-hover: #F6F3E6;

	--accent-light: #FFF5CF;
	--accent-dark: #142868;

	--border-dark: #0f112725;
	--border-light: #fffcf125;

	--villager-color: #4c93d6;
	--werewolf-color: #a51818;
	--werewolf-color-darker: #811313;
}
