// Tools
@import "tools/reset";
@import "tools/functions";
@import "fonts/fonts";

// Pages
@import "./pages/game-page";
@import "./pages/home-page";
@import "./pages/play-page";
@import "./pages/login-page";
@import "./pages/register-page";

// Components
// - Chat
@import "./components/Chat/message";
@import "./components/Chat/chat";
@import "./components/Chat/time-separator";

// - Modal
@import "./components/Modal/modal";
@import "./components/Modal/role-selector";
@import "./components/Modal/roles-page";
@import "./components/Modal/role-show";
@import "./components/Modal/game-state";
@import "./components/Modal/roles-balance";
@import "./components/Modal/profile-modal";
@import "./components/Modal/game-creation-modal";
@import "./components/Modal/share-page";

// - Game player
@import "./components/Player/player";
@import "./components/Player/voted-by";

// - Player Presentation
@import "./components/PlayerPresentation/player-presentation";
@import "./components/PlayerPresentation/progress-bar";

// - Others
@import "./components/counter";
@import "./components/buttons";
@import "./components/player-list";
@import "./components/game-presentation";
@import "./components/pills";
@import "./components/spinner";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
    font-size: 1rem;
    color: #fff;
    min-height: 100vh;
    background-color: var(--dark-background);
}

:root {
    --space: 8px;
    --danger: #b40000;
    --info: #009ec0;
    --dark-background: #0f1127;
    --dark-background-lighter: #111433;
    --light-dark-background: #24295E;
		--light-dark-background-hover: #1D214C;
    --light-background: #fffcf1;
    --light-scrollbar-background: var(--light-background);
    --light-scrollbar-color: darken(var(--light-background));
    --villager-color: #4c93d6;
    --werewolf-color: #a51818;
}
