.player-presentation__container {
	display: grid;
	place-items: center;

	max-width: 360px;
	min-width: 300px;
	width: calc(100% - space(12));
}

.player-presentation__main {
	width: 100%;
	height: calc(100% - space(6));

	padding: space(3) space(2) space(2);

	background-color: var(--light-background);
	color: var(--dark-background);
	position: relative;

	border-radius: 6px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	& .player-presentation__avatar {
		border-radius: 50%;
		height: 200px;
		z-index: 10;

		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	& .player-presentation__level {
		height: 48px;
		transform: translateY(230px);
		z-index: 100;
		position: absolute;
	}

	& .player-presentation__exp {
		transform: translateY(-10px);
		position: absolute;
		z-index: 10;

		height: 35px;
		min-width: 100px;
		width: min-content;
	}

	& .player-presentation__name {
		font-size: 24px;
		z-index: 10;
	}
}

.player-presentation__levels {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: space-between;
	z-index: 10000;

	width: 115%;
}

.player-presentation__levels div {
	display: flex;
	align-items: center;

	&:first-of-type {
		gap: 4px;

		& svg {
			height: 32px;
		}
	}

	& > p {
		font-size: 18px;
	}

	& > svg {
		height: 28px;
		width: 28px;
	}
}

.player-presentation__footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-inline: space(1);
	padding-bottom: space(1);

	& > svg {
		cursor: pointer;
		height: 32px;
		width: 32px;
	}
}
