.progress-bar__svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-40px);
    z-index: 1;

    & .progress-bar__progress {
        height: 195px;
        width: 352px;
        background: #111433;
    }
}

