.stats__container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: space(2);
	width: 100%;

	@media screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.stats__statistic {
	display: flex;
	align-items: center;
	gap: 8px;

	& > p {
		font-size: 1.125em;
	}

	& > svg {
		height: 32px;
		width: 32px;
	}

	img {
		height: 32px;
		aspect-ratio: 1;
	}
}

.stats__statistic-large {
	grid-column: 1 / span 2;

	@media screen and (max-width: 600px) {
		grid-column: 1;
	}
}
