.game-type__wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;

	margin-block: space(1);

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: space(2);
		padding: space(2);

		border: var(--border-secondary) 2px solid;
		border-radius: 8px;
		transition: background-color .2s;

		max-width: 230px;
		cursor: pointer;
	}

	div:not(.disabled):hover, div.active {
		background-color: var(--primary-hover);

		@media (prefers-color-scheme: light) {
			background-color: var(--accent-primary);
		}
	}

	div.disabled {
		cursor: not-allowed;
	}

	div.disabled > * {
		color: var(--secondary-disabled);
	}

	div p {
		text-align: center;
	}

	h4 {
		font-weight: normal;
	}
}

.game-type__wrapper .note {
	font-size: .85rem;
	color: #0f112780;

	@media (prefers-color-scheme: dark) {
		color: #fffcf180;
	}
}

.game-type__vocal-icon {
	height: 48px;
	width: 48px;
}

.game-type__monody-icon {
	width: 48px;
	height: 54px;
}
