@use "../../tools/functions" as *;

.game-type__wrapper {
	display: grid;
	gap: space(1);
	flex: 1;
}

.game-type__selection-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: space(2);
	width: 100%;
	text-align: center;

	margin-block: space(1);

	.game-type__item {
		display: grid;
		grid-template-columns: 40px 1fr;
		align-items: center;
		justify-items: center;
		gap: space(1);
		max-height: 140px;

		padding: space(2);

		outline: var(--border-secondary) 2px solid;
		border-radius: 8px;
		transition: background-color 0.2s;

		cursor: pointer;
	}

	.game-type__item .note {
		grid-column: 1 / 2 span;
	}

	.game-type__item:not(.disabled):hover,
	.game-type__item.active {
		outline: var(--border-secondary) 3px solid;
		background-color: var(--primary-hover);

		@media (prefers-color-scheme: light) {
			background-color: var(--accent-primary);
		}
	}

	.game-type__item.disabled {
		cursor: not-allowed;
	}

	.game-type__item.disabled > * {
		color: var(--secondary-disabled);
	}

	.game-type__item p {
		text-align: center;
	}

	h4 {
		font-weight: normal;
	}
}

html.light .game-type__wrapper .note {
	font-size: 0.85rem;
	color: #0f112780;
}

html.dark .game-type__wrapper .note {
	font-size: 0.85rem;
	color: #fffcf180;
}

.game-type__vocal-icon {
	height: 40px;
	width: 40px;
}

.game-type__monody-icon {
	width: 40px;
	height: 45px;
}

.game-type__description-group {
	display: grid;
	gap: space(1);
}

@media screen and (max-width: 700px) {
	.game-type__selection-wrapper {
		grid-template-columns: 1fr;

		.game-type__item {
			max-width: unset;
		}
	}
}
