.leaderboards__wrapper {
	display: grid;
	gap: space(3);
	margin-top: space(2);
	width: 100%;
}

.leaderboards__selection {
	display: flex;
	gap: space(2);
	align-items: center;
}

.leaderboards__dropdown select {
	width: 150px;

	padding-block: space(1);
	padding-inline: space(2);

	appearance: none;
	cursor: pointer;

	background: none;
	color: var(--secondary);
	border: 2px solid var(--border-secondary);
	border-radius: 6px;

	font-size: inherit;
	font-family: inherit;
}

.leaderboards__dropdown {
	position: relative;
}

.leaderboards__dropdown svg {
	position: absolute;
	height: 16px;
	width: 16px;
	right: 16px;
	top: 13px;
	pointer-events: none;
}

.option {
	color: var(--dark-background);
}

.leaderboards__top-three {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: flex-end;
	justify-items: center;

	& > div {
		display: grid;
		justify-items: center;
		gap: space(0.5);
	}

	div img {
		height: 116px;
		aspect-ratio: 1;
		border-radius: 50%;
	}
}

.leaderboards__first .leaderboards__user-presentation {
	height: 100px;

	> div {
		background: #ffc700;
	}
}

.leaderboards__second .leaderboards__user-presentation {
	height: 92px;

	> div {
		background: #cacaca;
	}
}

.leaderboards__third .leaderboards__user-presentation {
	height: 84px;

	> div {
		background: #db831c;
	}
}

.leaderboards__user-presentation {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	border: 2px solid var(--border-secondary);
	border-top: transparent;
	width: 140px;
	padding-bottom: space(0.5);

	> div {
		text-align: center;
		color: var(--dark-background);
		width: 100%;
		height: 20px;
		clip-path: polygon(50% 100%, -10px 0px, calc(100% + 10px) 0px);
	}
}

.leaderboards__board {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-auto-flow: column;
	margin-bottom: space(2);

	& :last-child {
		justify-content: center;
	}
}

.leaderboards__cell {
	display: flex;
	align-items: center;
	gap: space(1);

	min-height: 50px;

	padding-inline: space(2);
	padding-block: space(0.5);
	border-bottom: var(--border-secondary) 2px solid;
	text-align: center;

	&:nth-child(n + 5) {
		border-left: var(--border-secondary) 2px solid;
	}

	&:nth-child(4n) {
		border-bottom: transparent;
	}
}

.leaderboards__cell-content {
	display: flex;
	align-items: center;
	gap: space(1);
	flex: 1;

	img {
		height: 42px;
		aspect-ratio: 1;
		border-radius: 50%;
	}
}

@media screen and (max-width: 600px) {
	.leaderboards__board {
		grid-template-columns: 1fr;
		grid-auto-flow: row;
	}

	.leaderboards__cell {
		justify-content: space-between;

		&:nth-child(4n) {
			border-bottom: var(--border-secondary) 2px solid;
		}

		&:nth-child(7) {
			border-bottom: transparent;
		}

		&:nth-child(8) {
			display: none;
		}

		&:nth-child(n + 5) {
			border-left: transparent;
		}
	}
}

@media screen and (max-width: 450px) {
	.leaderboards__user-presentation {
		width: 100px;
	}

	.leaderboards__top-three div img {
		height: 90px;
	}
}
