.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.modal__main {
	color: var(--secondary);

	min-height: 55vh;
	max-height: 532px;
	width: 63vw;
	max-width: 540px;

	background-color: var(--primary);

  position: absolute;
  z-index: 5000;

	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

	padding: space(4);
  margin: space(2);

	& header {
		font-weight: normal;
		text-align: center;
	}
}

.modal__page-status {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.modal-enter-active,
.modal-leave-active {
	transition: all .2s;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}
