.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.modal__main {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  background-color: var(--dark-background);
  min-height: 45vh;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: space(4);
  margin: space(2);
  z-index: 5000;
}

.modal-enter-active,
.modal-leave-active {
	transition: all .2s;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}
