.modal__background {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.modal__overflow-wrapper {
	position: relative;
}

.modal__main {
	color: var(--secondary);

	min-height: max-content;
	max-height: 100svh;
	width: 100vw;
	max-width: 600px;

	background-color: var(--primary);

	overflow-y: auto;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: space(3);

	& header {
		font-weight: normal;
		text-align: center;
	}
}

.game-creation-modal__wrapper {
	@extend .modal__main;

	max-width: 650px;
}

.modal__page-status {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.modal-enter-active,
.modal-leave-active {
	transition: all 0.2s;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}

.modal__buttons-right {
	display: flex;
	flex: 1;
	gap: space(1);
	justify-content: flex-end;
}

.modal__buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.play-page .modal__background {
		height: 100lvh;
	}

	.modal__main {
		padding: space(2);
		padding-block: space(4);
		margin: 0;

		overflow-y: auto;
		overflow-x: hidden;
	}

	.modal__buttons {
		gap: space(1);
		flex-direction: column-reverse;
	}

	.modal__buttons-right button {
		flex: 1;
	}
}
