$popups: 'success' var(--success), 'info' var(--info), 'warn' var(--warn), 'error' var(--danger), 'level' var(--level);

.popup__wrapper {
	color: var(--secondary);
	background-color: var(--alt-background);

	max-width: 500px;
	min-width: 300px;

	padding: space(3);

	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);
}

@each $popup in $popups {
	.modal__background[data-popup-type=#{nth($popup, 1)}] .popup__icon,
	.popup__wrapper[data-popup-type=#{nth($popup, 1)}] .popup__icon {
		color: nth($popup, 2);
	}
}

.popup__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: space(3);

	font-weight: bold;

	& > div {
		display: flex;
		align-items: center;
		gap: space(2);
	}
}

.popup__title {
	font-size: 1.25em;
}

.popup__content {
	font-size: 1.125em;
}

.popup__note {
	color: #0f112780;

	@media (prefers-color-scheme: dark) {
		color: #fffcf180;
	}
}

.popup__icon {
	height: 40px;
	width: 40px;
}

.popup__close {

	height: 16px;
	width: 16px;
	cursor: pointer;
	color: #0f112740;
	transition: color .2s;

	&:hover {
		color: #0f112780;
	}

	@media (prefers-color-scheme: dark) {
		color: #fffcf140;

		&:hover {
			color: #fffcf180;
		}
	}
}

.popup__content {
	padding-top: space(3);
}

.popup__note {
	padding-top: space(2);
}
