.profile-modal__wrapper {
	display: flex;
	flex-direction: column;
	gap: space(2);

	flex: 1;
	width: 100%;

	margin-block: space(2);

	.auth-page__form-group {
		width: 100%;
	}

	label {
		position: static;
	}
}

.profile-modal__connections {
	display: grid;
	gap: space(1);
}

.profile-modal__connections-side-group {
	display: flex;
	align-items: center;
	gap: space(1);
}

.profile-modal__connections-discord {
	display: grid;
	gap: space(2);
	position: relative;

	padding: space(2);
	margin-bottom: space(1);
	border-radius: 4px;
	width: 100%;
	max-width: max-content;

	color: var(--light-background);
	background-color: var(--discord-color);

	button,
	a {
		background-color: var(--light-background);
		color: var(--dark-background);
		text-align: center;
	}

	button:not(:disabled):hover,
	a:not(.disabled):hover {
		background-color: var(--light-background-hover) !important;
		color: var(--dark-background);
		text-decoration: none;
	}

	button:disabled,
	a.disabled {
		cursor: not-allowed;
		text-decoration: none;
		background-color: var(--light-background-hover) !important;
		color: #0f112750;
	}

	svg {
		height: 40px;
		width: 40px;
	}
}

.profile-modal__avatar {
	height: 80px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

.profile-modal__side-group {
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: space(2);
}

.profile-modal__danger-buttons {
	display: grid;
	grid-template-columns: 1fr;
	gap: space(1);
}

.profile-modal__avatar-group {
	position: relative;
	display: grid;
	place-items: center;

	outline: var(--border-secondary) 2px solid;
	border-radius: 50%;

	input {
		display: none;
	}

	label {
		cursor: pointer;
		display: grid;
		place-items: center;
		transition:
			background-color 0.2s,
			opacity 0.2s;

		position: absolute;
		inset: 0;

		opacity: 0;
	}

	.profile-modal__avatar-shadow {
		transition:
			background-color 0.2s,
			opacity 0.2s;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0;
		position: absolute;
		inset: 0;

		background-color: #0f112750;
	}
}

.profile-modal__avatar-group[data-edited="true"] .profile-modal__avatar-shadow {
	opacity: 1;
}

.profile-modal__avatar-group:not([data-edited="true"]):hover {
	label {
		opacity: 1;
	}

	.profile-modal__avatar-shadow {
		opacity: 1;
	}
}

.profile-modal__avatar-success {
	position: absolute;

	svg {
		color: var(--light-background);
		height: 40px;
		width: 40px;
	}
}

.profile-modal__avatar-group label svg {
	height: 40px;
	width: 40px;
}

.profile-modal__switch-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	flex: 1;

	height: 32px;
	outline: var(--border-secondary) 2px solid;

	div {
		position: relative;
		display: grid;
		place-items: center;
		height: 32px;
	}

	div input {
		position: absolute;
		cursor: pointer;
		margin: 0;
		appearance: none;
		height: 32px;
		width: 100%;
		border-right: var(--border-secondary) 2px solid;
	}

	div:last-child input {
		border-right: none;
	}

	div input:focus,
	div input:checked,
	div input.checked {
		background-color: var(--accent-primary);
	}

	div svg {
		position: absolute;
		height: 24px;
		width: 24px;
		pointer-events: none;
	}
}

.profile-modal__switchers > div {
	display: flex;
	align-items: center;
	gap: space(2);
}
