.role-selector__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: space(2);
}

.role-selector__main {
	position: relative;
  display: flex;
  align-items: center;
}

button.role-selector__operation-button {
	height: 24px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;

	display: grid;
	place-items: center;

	& svg {
		height: 12px;
		width: 12px;
	}
}

.role-selector__operation-add {
	transform: translateX(-4px);
}

.role-selector__operation-minus {
	transform: translateX(4px);
}

.role-selector__image {
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

.role-selector__count {
  background-color: var(--primary);

  width: 24px;
  height: 24px;

	display: flex;
  justify-content: space-around;
  align-items: center;

	border-radius: 50%;
	border: var(--border-secondary) solid 2px;

	z-index: 10;
  transform: translateY(-7px);
  user-select: none;
}

.role-selector__name {
	font-size: 14px;

	position: absolute;
	top: -30%;
	left: 50%;
	transform: translateX(-50%);

	width: max-content;

	background-color: var(--primary);
	padding: space(.5) space(1);
	border: var(--border-secondary) 2px solid;
	border-radius: 33px;
}
