:root {
  --villager-balance-width: 50%;
  --werewolf-balance-width: 50%;
}

.roles-balance__container {
  width: 100%;
  padding-bottom: space(2);
}

.roles-balance__balance {
  display: flex;
  height: 8px;
  width: 100%;
  margin-top: space(2);

  & span {
    display: block;
  }
}

.roles-balance__status {
  & span {
    font-weight: bold;
  }
}

.roles-balance__villagers {
  background: rgb(47, 91, 132);
  background: linear-gradient(
                  99deg,
                  rgba(47, 91, 132, 1) 0%,
                  rgba(76, 147, 215, 1) 50%,
                  rgba(47, 91, 132, 1) 100%
  );
  width: var(--villager-balance-width);
}

.roles-balance__werewolf {
  background: rgb(121, 16, 16);
  background: linear-gradient(
                  99deg,
                  rgba(121, 16, 16, 1) 0%,
                  rgba(166, 24, 24, 1) 50%,
                  rgba(121, 16, 16, 1) 100%
  );
  width: var(--werewolf-balance-width);
}
