@use "../../tools/functions" as *;

.roles__list {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  column-gap: 2%;
  box-sizing: border-box;
  margin-top: space(1);
  margin-bottom: space(1);
}

.roles__page {
  height: 100%;
  width: 100%;
}

.roles__loader {
	position: absolute;
	background-color: var(--dark-background);
	z-index: 1000;
	height: 50%;
	width: calc(100% - space(8));
	display: grid;
	place-items: center;

	& > .spinner {
		top: calc(50% - 14px);
		left: calc(50% - 14px);
	}
}
