.roles-balance__container {
  width: 100%;
  padding-bottom: space(2);
}

.roles-balance__balance {
  display: flex;
  height: 8px;
  width: 100%;
  margin-top: space(2);

  & span {
    display: block;
  }
}

.roles-balance__status {
  & span {
    font-weight: bold;
  }
}

.roles-balance__villagers {
  background: var(--villager-color);
  width: var(--villager-balance-width);
}

.roles-balance__werewolf {
  background: var(--werewolf-color);
  width: var(--werewolf-balance-width);
}
