@use "../../tools/functions" as *;

.team__list {
	display: grid;
	margin-top: space(1);
	gap: space(1);

	& > div {
		display: flex;
		align-items: center;
		gap: space(1);
		position: relative;
	}

	& > div ~ div::before, {
		content: '';
		width: 100%;
		position: absolute;
		top: -8px;
		border-top: var(--border-secondary) 2px solid;
	}
}

.roles__list {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	column-gap: space(1);
	flex: 1;

  box-sizing: border-box;
  margin-top: space(1);
  margin-bottom: space(1);
}

.roles__loners .roles__team-description svg {
	height: 60px;
	width: 60px;
}

.roles__team-description {
	display: flex;
	flex-direction: column;
	gap: space(2);
	align-items: center;
	width: 85px;

	svg {
		height: 64px;
		width: 64px;
	}

	span {
		font-size: .85rem;
	}
}

.roles__page {
  height: 100%;
  width: 100%;
}

.roles__loader {
	position: absolute;
	background-color: var(--primary);
	z-index: 1000;
	height: 50%;
	width: calc(100% - space(8));
	display: grid;
	place-items: center;

	& > .spinner {
		top: calc(50% - 14px);
		left: calc(50% - 14px);
	}
}
