@use "../../tools/functions" as *;

.share-page__header {
	position: relative;
	width: 100%;

	svg {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.share-page__container {
	margin-top: space(3);
	margin-bottom: space(1);
	display: flex;
	gap: space(2);
	flex-direction: column;
}

.share-page__container a {
	color: var(--light-background);
	padding: space(2) space(8) space(2) space(2);

	min-width: max-content;
	max-width: 342px;
	width: 342px;

	display: flex;
	flex: 1;
	gap: space(4);
	align-items: center;

	& svg {
		height: 32px;
		width: 32px;
	}
}

.share-page__social-twitter {
	background-color: var(--twitter-color);
}

.share-page__social-discord {
	background-color: var(--discord-color);
}

.share-page__social-link {
	background-color: var(--share-color);
}

.share-page__background .modal__main {
	max-width: 420px;
}

@media screen and (max-width: 600px) {
	.share-page__background .modal__main {
		margin: 0;
		padding-inline: 0;
	}
}
