@use "../../tools/functions" as *;

.player__container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	height: max-content;
	width: max-content;
	user-select: none;

	& .player__is-dead-shadow {
		display: block;
		height: 100px;
		aspect-ratio: 1 / 1;
		background-color: #000000;
		opacity: 0.45;
		border-radius: 15px;
	}
}

.player__is-dead {
	position: absolute;
	inset: 0;
	border-radius: 20px;
	color: white;

	& > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 60px;
		aspect-ratio: 1 / 1;
	}
}

.player__avatar {
	height: 100px;
	border-radius: 15px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.player__avatar-container {
	position: relative;
	display: grid;
	place-items: center;
	margin-bottom: space(0.5);
}

.player__is-voted,
.player__votable:hover .player__avatar-container img,
.player__witch-kill:hover .player__avatar-container img {
	box-shadow: 0 0 20px 4px #e50000;
}

.player__comparable:hover .player__avatar-container img,
.player__electable:hover .player__avatar-container img,
.player__guardable:hover .player__avatar-container img,
.player__is-voted.player__electable .player__avatar-container img,
.player__is-voted.player__comparable .player__avatar-container img {
	box-shadow: 0 0 20px 4px var(--level);
}

.player__votable,
.player__witch-kill,
.player__electable,
.player__guardable,
.player__comparable {
	cursor: pointer;
}

.player__badges {
	position: absolute;
	top: 6px;
	right: 6px;
	left: 6px;
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 2px 4px;
}

.player__badge {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	width: 18px;
	border-radius: 50%;

	> svg {
		height: 14px;
		width: 14px;
	}
}

.player__is-disconnected {
	@extend .player__badge;

	position: absolute;
	bottom: 8px;
	right: 8px;

	color: var(--secondary);
	background-color: var(--primary);
	height: 20px;
	width: 20px;

	svg {
		height: 12px;
		width: 12px;
	}
}

.player__is-compared {
	@extend .player__badge;

	position: absolute;
	bottom: 8px;
	right: 8px;

	color: var(--light-background);
	background-color: var(--level);
	height: 20px;
	width: 20px;

	svg {
		height: 14px;
		width: 14px;
	}
}

.player__role {
	position: absolute;
	left: 2px;
	bottom: 0;

	img {
		height: 24px;
		width: 24px;
	}
}

.player__is-wolf {
	@extend .player__badge;
	background-color: #e50000;
}

.player__is-contaminated {
	@extend .player__badge;
	background-color: var(--success);

	> svg {
		height: 18px;
		width: 18px;
		color: var(--light-background);
	}
}

.player__is-paired {
	@extend .player__badge;
	background-color: var(--pink);
}

.player__is-guarded {
	@extend .player__badge;
	background-color: var(--villager-color);

	> svg {
		height: 12px;
	}
}

.player__is-target {
	@extend .player__badge;
	color: var(--dark-background);
	background-color: var(--light-background);

	& > svg {
		height: 13px;
		aspect-ratio: 1;
	}

	& > * {
		color: var(--dark-background);
	}
}

.player__is-mayor,
.player__is-mayor svg {
	height: 27px;
	aspect-ratio: 2 / 3;
}

.player__username {
	padding: space(0.75) space(2);
	z-index: 2;
	border-radius: 31px;
	display: flex;
	align-items: center;
	font-size: 0.9em;

	&[data-is-owner="true"] {
		padding-left: space(1.75);
		gap: space(0.75);
	}

	svg {
		color: #ffc700;
		height: 1rem;
		aspect-ratio: 1;
	}
}

.day .player__username {
	background-color: var(--light-background);
	color: var(--dark-background);

	border: var(--border-dark) 2px solid;
}

.night .player__username {
	background-color: var(--dark-background);
	color: var(--light-background);

	border: var(--border-light) 2px solid;
}

.player__psychic-hover:hover {
	cursor: pointer;

	& > .player__avatar-container img {
		box-shadow: 0 0 20px 4px var(--villager-color);
	}
}

.player__parasite-hover {
	cursor: pointer;

	&:hover > .player__avatar-container img {
		box-shadow: 0 0 20px 4px var(--success);
	}
}

.player__pairable {
	cursor: pointer;

	&:hover > .player__avatar-container img {
		box-shadow: 0 0 20px 4px var(--pink);
	}
}

.player__avatar-container img {
	transition: box-shadow 0.2s;
}

.player__witch-heal {
	cursor: pointer;

	& > .player__avatar-container img {
		box-shadow: 0 0 20px 4px var(--success);
	}
}

.player__hover-disabled {
	cursor: not-allowed;
}

@media screen and (max-width: 700px) {
	.player__is-disconnected {
		height: 16px;
		right: 4px;

		svg {
			height: 11px;
		}
	}

	.player__avatar,
	.player__container .player__is-dead-shadow {
		height: 75px;
	}

	.player__is-dead svg {
		height: 45px;
	}

	.player__badge {
		height: 15px;
		width: 15px;

		svg {
			height: 12px;
			width: 12px;
		}
	}

	.player__is-guarded svg {
		height: 10px;
		width: 10px;
	}

	.player__is-contaminated svg {
		height: 15px;
		width: 15px;
	}

	.player__is-mayor,
	.player__is-mayor svg {
		height: 25px;
	}

	.day .player__username,
	.night .player__username {
		padding-inline: space(1);
		padding-block: space(0.5);
	}

	.player__username[data-is-owner="true"] {
		gap: space(0.5);

		svg {
			height: 0.9rem;
		}
	}

	.player__avatar-container {
		margin-bottom: space(-1);
	}
}
