@use "../../tools/functions" as *;

.player__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: space(6);
	height: max-content;
	width: max-content;
	user-select: none;

	& .player__is-dead-shadow {
		display: block;
		height: 125px;
		width: 125px;
		background-color: #000000;
		opacity: .45;
		border-radius: 20px;
	}
}

.player__is-dead {
	position: absolute;
	height: 125px;
	width: 125px;
	border-radius: 20px;

	& > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 70px;
		width: 70px;
	}
}

.player__avatar {
  height: 125px;
  width: 125px;
  border-radius: 20px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.player__avatar-container {
  position: relative;
  display: grid;
  place-items: center;
	margin-bottom: space(.5);
}

.player__is-voted,
.player__votable:hover .player__avatar-container img,
.player__witch-kill:hover .player__avatar-container img {
  box-shadow: 0 0 32px 6px #e50000;
}

.player__electable:hover .player__avatar-container img,
.player__electable.player__is-voted .player__avatar-container img{
	box-shadow: 0 0 32px 6px var(--info);
}

.player__votable:hover, .player__witch-kill:hover, .player__electable:hover {
	cursor: pointer;
}

.player__badges {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: flex-start;
	width: max-content;
	gap: 4px;
}

.player__is-wolf {
  background-color: #e50000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.player__is-target {
	height: 20px;
	width: 20px;
	color: var(--dark-background);
	background-color: var(--light-background);
	display: grid;
	place-items: center;
	border-radius: 50%;

	& > svg {
		height: 17px;
		width: 17px;
	}
}

.player__is-mayor, .player__is-mayor svg {
	height: 30px;
	width: 20px;
}

.player__username {
  z-index: 2;
  border-radius: 31px;
}

.day .player__username {
	background-color: var(--light-background);
	color: var(--dark-background);
	padding: space(.75) space(2);

	border: var(--border-dark) 2px solid;
}

.night .player__username {
	background-color: var(--dark-background);
	color: var(--light-background);
	padding: space(.75) space(2);

	border: var(--border-light) 2px solid;
}

.player__psychic-hover:hover {
	cursor: pointer;

	& > .player__avatar-container img {
		box-shadow: 0 0 32px 6px var(--villager-color);
	}
}

.player__avatar-container img {
	transition: box-shadow .2s;
}

.player__witch-heal:hover {
	cursor: pointer;

	& > .player__avatar-container img {
		box-shadow: 0 0 32px 6px var(--success);
	}
}

.player__hover-disabled {
	cursor: not-allowed;
}
