.chat__main {
  background: var(--chat-background);
  overflow: hidden;
  height: 92%;
  margin: space(3) space(4) 0 space(4);
	min-width: 20vw;
	max-width: 30vw;
	width: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 60px);
  padding-top: space(2);
  padding-left: space(2);
  padding-right: space(2);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--light-scrollbar-color) var(--light-scrollbar-background);

  & > .time-separator__main {
    margin-top: space(2);
    margin-bottom: space(2);
  }

  & > p {
    color: var(--dark-background);
  }
}

.chat__submit-form {
  height: 60px;
  display: flex;
  border-top: solid 2px rgba(var(--unchanged-color), 10%);
  justify-content: space-between;
  background: var(--chat-send-background);

  & input {
    font-family: inherit;
    height: inherit;
    background: inherit;
    border: none;
    font-size: 16px;
    padding-left: space(2);
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 1;
      color: var(--chat-send-text);
    }
  }
}

.night .chat__submit-form input {
	color: var(--light-background);
}

.locked {
  cursor: not-allowed;
}

.chat__send-button {
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;

  height: inherit;
  width: 100px;
  background: inherit;
  border: none;
  border-left: solid 2px rgba(var(--unchanged-color), 10%);
  cursor: pointer;
	color: rgba(var(--unchanged-color), 60%);
	transition: all .2s;

  &.locked {
    cursor: not-allowed;
  }

	& span {
		font-size: .8rem;
	}

  &:hover {
		background-color: var(--secondary-hover);
    color: rgba(var(--unchanged-color), 80%);
  }
}

.chat__submit-icon {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 600px) {
	.chat__main {
		max-height: 280px;
		width: auto;
		max-width: initial;
		min-width: auto;

		border-radius: 0;
		margin: 0;
	}

	.chat__submit-form {
		height: 50px;
	}

	.chat__messages {
		height: calc(100% - 50px);

		padding: 0;
	}

	.chat__submit-icon {
		height: 30px;
		aspect-ratio: 1 / 1;
	}
}
