@use "../../tools/functions" as *;

.message__main {
	color: #000;
	display: flex;
	width: 100%;
	margin-bottom: space(2);
	padding: space(1);
	border-radius: 2px;
	gap: space(1);
}

.alert__main {
	@extend .message__main;
	color: #fff;
	padding: space(2);
	gap: space(2);
}

.message__werewolf {
	background-color: rgba(180, 0, 0, 40%);
}

.alert-message__info {
	@extend .alert__main;
	align-items: center;
	background: var(--info);

	& .alert-message__icon use {
		color: #fff;
	}
}

.alert-message__success {
	@extend .alert__main;
	background-color: var(--success);

	& .alert-message__icon use {
		color: #fff;
	}
}

.alert-message__death {
	@extend .alert__main;
	align-items: center;
	background: var(--danger);

	& .alert-message__icon use {
		color: #fff;
	}
}

.alert-message__icon {
	width: 38px;
	aspect-ratio: 1 / 1;
}

.message__avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.message__author {
	color: rgba(var(--unchanged-color), 50%);
}

.message__content {
	padding-top: space(1);
	padding-left: space(.5);
	overflow-wrap: anywhere;
}
