@use "../../tools/functions" as *;

.message__main {
	color: var(--dark-background);

	display: flex;
	gap: space(1);

	width: 100%;

	margin-bottom: space(1);
	padding: space(1);

	border-radius: 2px;
}

.night .message__main {
	color: var(--light-background);
}

.alert-message__content {
	display: flex;
	align-items: center;
	gap: space(1.5);
}

.alert__main {
	@extend .message__main;
	color: var(--light-background);
	padding: space(2);
	gap: space(2);
}

.alert-message__actions {
	display: flex;
	gap: space(1);
	flex-wrap: wrap;

	& > * {
		display: grid;
		place-items: center;
		white-space: nowrap;
		flex: 1;
	}

	& > .btn {
		color: var(--dark-background);
		background-color: var(--light-background);
	}

	& > .btn:not(:disabled):not(.disable-hover):hover {
		background-color: var(--light-background-hover);
	}
}

.message__werewolf {
	background-color: rgba(180, 0, 0, 40%);
}

.alert-message__info {
	@extend .alert__main;
	background: var(--info);
	flex-direction: column;

	& .alert-message__icon use {
		color: var(--light-background);
	}
}

.alert-message__success {
	@extend .alert__main;
	background-color: var(--success);

	& .alert-message__icon use {
		color: var(--light-background);
	}
}

.alert-message__death {
	@extend .alert__main;
	background: var(--dark-danger);

	& .alert-message__icon use {
		color: var(--light-background);
	}
}

.alert-message__warn {
	@extend .alert__main;
	background: var(--warn);

	& .alert-message__icon use {
		color: var(--light-background);
	}
}

.alert-message__text {
	max-width: calc(100% - 38px - 16px);
}

.alert-message__icon {
	width: 32px;
	aspect-ratio: 1 / 1;
}

.message__avatar-dead {
	& > span {
		position: absolute;
		display: block;
		height: 50px;
		width: 50px;
		background-color: #000000;
		opacity: .45;
		border-radius: 50%;
	}

	& > svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 35px;
		width: 35px;
	}
}

.message__is-wolf {
	position: absolute;
	top: 0;
	right: 0;

	height: 14px;
	width: 14px;

	border-radius: 50%;

	background-color: #e50000;
}

.message__avatar {
	position: relative;
}

.message__avatar, .message__avatar img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.message__author {
	color: rgba(var(--unchanged-color), 50%);
}

.message__content {
	padding-top: space(1);
	padding-left: space(.5);
	overflow-wrap: anywhere;
	line-height: 1.2rem;
}

@media screen and (max-width: 600px) {
	.message__author {
		color: var(--unchanged-color);
	}

	.message__main {
		margin: 0;
	}

	.alert__main {
		margin-bottom: space(1);
	}
}

.innout__message {
	margin-bottom: space(2);
}

.innout__message p {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.bold {
		margin-left: space(1);
	}

	 & svg {
		 height: 24px;
		 width: 24px;
	 }
}

.day .innout__message {
	color: var(--dark-background);
	opacity: 50%;
}

.night .innout__message {
	color: var(--light-background);
	opacity: 50%;
}
