@use "sass:color";

.btn {
  padding: 0;
  border: none;
  border-radius: 6px;
	color: #fff;
  cursor: pointer;
	background: var(--light-dark-background) none;
	transition: background-color 0.4s;

  &:disabled {
    cursor: not-allowed;
    background-color: color.scale(#273097, $lightness: -40%);
  }

  &:not(.disable-hover):hover {
    background-color: color.scale(#273097, $lightness: -20%);
  }

  &.small {
    height: 20px;
    width: 20px;
  }

  &.large {
    padding: space(0.5) space(1);
  }
}

.btn-primary {
	background: #fff;
	color: #0f1127;
	padding: space(1) space(3);
	border-radius: 5px;
	transition: background-color .2s;

	&:hover {
		color: #0f1127;
		background-color: darken(#fff, $amount: 15%);
	}
}
