@use "sass:color";

.btn {
  padding: 0;
  border: none;
  border-radius: 6px;
	color: var(--dark-background);
  cursor: pointer;
	background: var(--light-background) none;
	transition: background-color 0.4s;

  &:disabled {
    cursor: not-allowed;
		background-color: darken(#fff, $amount: 20%);
  }

  &:not(.disable-hover):hover {
		background-color: darken(#fff, $amount: 10%);
  }

  &.small {
    height: 20px;
    width: 20px;
  }

  &.medium {
    padding: space(.75) space(2);
  }

	&.large {
		padding: space(1.5) space(3);
	}
}

.btn.secondary {
	background: var(--light-dark-background);
	color: #ffffff;

	&:disabled {
		cursor: not-allowed;
		background-color: var(--light-dark-background-hover);
	}

	&:not(.disable-hover):hover {
		background-color: var(--light-dark-background-hover);
	}
}
