.debug-bar__wrapper {
	position: absolute;
	bottom: space(1);
	right: space(2);

	display: grid;
	place-items: center;

	height: 40px;
	width: 40px;

	border-radius: 50%;
	background-color: var(--light-background);
	color: var(--dark-background);
	outline-color: var(--border-dark);

	transition: outline-color .2s;
	z-index: 99999;

	&:hover {
		cursor: pointer;
		outline: var(--border-dark) solid 2px;
		outline-offset: -2px;
	}

	& svg {
		height: 35px;
		width: 35px;

		margin-top: -2px;
	}
}

.debug-bar__wrapper[data-openned="true"] {
	border-radius: 8px;
	width: auto;
	left: space(2);
	grid-template-columns: 1fr 48px;
}
