.footer__main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: space(2);
	height: 32px;
	color: var(--secondary);
	margin-bottom: space(1);

	& div {
		display: flex;
		gap: space(1.5);
	}

	& a,
	a svg {
		color: inherit;
		height: 24px;
		width: 24px;
	}
}

@media screen and (max-width: 600px) {
	.footer__main {
		flex-direction: column;
		height: auto;
		gap: space(1);
	}
}

.lang-switcher__flag {
	height: 24px;
	width: 24px;
}
