.game-show__container.game-show__container-disabled {
	cursor: not-allowed;
	color: var(--secondary-disabled);

	& img {
		filter: grayscale(40%);
	}
}

.game-show__container {
	display: flex;
	align-items: center;

	background: var(--primary);
	color: var(--secondary);

	padding: space(1) space(2);
	margin-top: space(3);

	transition: background-color 0.2s, outline-width 0.2s;
	border-radius: 6px;
	border: var(--border-secondary) 2px solid;

	&:not(.game-show__container-disabled) {
		cursor: pointer;
	}

	& .game-show__avatar {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		margin-right: space(2);
	}

	& .game-show__roles {
		margin-top: space(1);
	}

	& .game-show__role-image {
		height: 30px;
		width: 30px;
		margin-right: space(1);
	}

	& p {
		font-size: 1.25em;
	}

	&:hover:not(.game-show__container-disabled),
	&:focus-visible:not(.game-show__container-disabled) {
		background-color: var(--primary-hover);
		text-decoration: none;
	}

	& svg {
		height: 24px;
		width: 24px;
		margin-right: space(3);
	}
}

.game-show__role {
	display: inline-block;
	position: relative;
}

.game-show__role-count {
	height: 20px;
	width: 20px;

	border: var(--border-secondary) solid 2px;
	border-radius: 50%;

	display: grid;
	place-items: center;

	position: absolute;
	bottom: -2px;
	right: 2px;
	z-index: 10;

	background-color: var(--primary-hover);
}

.game-show__center {
	display: flex;
	flex-direction: column;
	flex: 1;
}
