.game-show__container {
	display: flex;
	align-items: center;
	background: var(--light-background);
	padding: space(1) space(2);
	margin-top: space(3);
	color: var(--dark-background);
	transition: background-color, outline-width .2s linear;
	border-radius: 6px;
	outline: var(--border-dark) 1px solid;

	& .game-show__avatar {
		border-radius: 50%;
		height: 60px;
		width: 60px;
		margin-right: space(2);
	}

	& .game-show__roles {
		margin-top: space(1);
	}

	& .game-show__role {
		height: 30px;
		width: 30px;
		margin-right: space(1);
	}

	& p {
		font-size: 20px;
	}

	&:hover {
		background-color: var(--light-background-hover);
		outline-width: 2px;
	}
}

.game-show__center {
	display: flex;
	flex-direction: column;
	flex: 2;
}

