.role-assignation__wrapper {
	position: absolute;
	inset: 50%;
	transform: translateY(-50%) translateX(-50%);

	overflow: hidden;

	height: 100px;
	width: 100px;
}

.role-assignation__roles {
	display: flex;
	animation: slideRoles 2s ease-in-out alternate;
	animation-iteration-count: infinite;
}

.role-assignation__wrapper div img {
	height: 100px;
	aspect-ratio: 1 / 1;
}

.role-assignation__reset:active .role-assignation__roles{
	animation-play-state: running;
}

@keyframes slideRoles {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(var(--role-assignation-transform-length));
	}
}
