@font-face {
	font-family: 'Sen';
	src: url('https://localhost:3000/scss/fonts/Sen-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sen';
	src: url('https://localhost:3000/scss/fonts/Sen-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

